#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 99;
	text-align: center
}

#status {
	text-align: center;
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-image: url(../images/loader.png);
	background-repeat: no-repeat;
	background-position: center;
	margin: -100px 0 0 -100px
}

@font-face {
	font-family: ubuntu-regular;
	src: url("../fonts/Ubuntu-R.ttf");
	src: url("../fonts/Ubuntu-R.eot");
	src: url("../fonts/Ubuntu-R.woff")
}

@font-face {
	font-family: ubuntu-bold;
	src: url("../fonts/Ubuntu-B.ttf");
	src: url("../fonts/Ubuntu-B.eot");
	src: url("../fonts/Ubuntu-B.woff")
}

@font-face {
	font-family: ubuntu-Med;
	src: url("../fonts/Ubuntu-M.ttf");
	src: url("../fonts/Ubuntu-M.eot");
	src: url("../fonts/Ubuntu-M.woff")
}

a {
	text-decoration: none
}

a:focus,
button:focus {
	outline: 0
}

body {
	padding: 0;
	margin: 0;
	font-family: ubuntu-regular, sans-serif !important
}

.brand {
	color: #ff0000;
	display: inline-block
}

.brand h1 {
	font-size: 22px;
	margin: 0px
}

.theme-btn {
	background-color: #ff0000;
	border: 1px solid #ff0000
}

.no-padding {
	padding: 0px
}

.navbar {
	background-color: #fff;
	padding: 0px;
	font-size: 14px;
	border-bottom: 1px solid #eee
}

.navbar .navbar-brand img {
	width: 100px
}

.navbar .nav-item.active {
	border-bottom: 2px solid #f00
}

.navbar.fixed-top {
	-webkit-box-shadow: 0px -1px 13px 0px rgba(0, 0, 0, 0.11);
	-moz-box-shadow: 0px -1px 13px 0px rgba(0, 0, 0, 0.11);
	box-shadow: 0px -1px 13px 0px rgba(0, 0, 0, 0.11)
}

.navigation {
	background-color: transparent
}

.st-img {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	margin: 0 auto;
	z-index: 9
}

.pencil {
	position: absolute;
	z-index: 9;
	bottom: -20px;
	left: 30%
}

.banner {
	background: url(../images/bg.gif) repeat
}

.txt-cnt {
	position: absolute;
	top: 50%;
	left: 0px;
	right: 0px;
	transform: translateY(-50%);
	resize: vertical
}

.search a:hover span {
	padding-right: 25px
}

.search a:hover span:after {
	opacity: 1;
	right: 0
}

.search {
	font-size: ubuntu-regular, sans-serif;
	position: relative;
	overflow: auto
}

.search h2 {
	text-align: left;
	font-family: ubuntu-Med, sans-serif;
	color: #000;
	font-size: 38px;
	text-shadow: 2px 2px 0px rgba(150, 150, 150, 0.37)
}

.search p {
	font-size: 17px;
	text-align: left;
	color: #3d3b3b
}

.search a {
	border: 1px solid #FB304E;
	background-color: #FB304E;
	color: #ffffff;
	transition: background-color 0.5s ease;
	border-radius: 30px;
	width: 350px;
	display: block;
	padding: 10px 0px;
	text-align: center;
	font-family: ubuntu-Med, sans-serif;
	text-decoration: none;
	margin-top: 20px
}

.search a:hover {
	background-color: #ff0000;
	border: 1px solid #ff0000;
	color: #fff
}

.search a img {
	width: 30px
}

.search a span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s
}

.search a span:after {
	content: "\f101";
	position: absolute;
	opacity: 0;
	top: 5px;
	right: -20px;
	transition: 0.5s;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.how {
	background-color: #f8ebf3;
	padding: 15px 0px
}

.how p {
	text-align: center;
	margin: 0px
}

.how a {
	text-decoration: none;
	color: #444
}

.how .icon {
	width: 74px;
	height: 74px;
	background-image: url(../images/icons.png);
	background-repeat: no-repeat;
	margin: 0 auto;
	display: block
}

.how .icon.icon1 {
	background-position: 0px 0px
}

.how .icon.icon2 {
	background-position: -75px 0px
}

.how .icon.icon3 {
	background-position: -150px 0px
}

.how .icon.icon4 {
	background-position: -225px 0px
}

.how .inv:hover .icon1 {
	background-position: 0px -75px
}

.how .gift:hover .icon2 {
	background-position: -75px -75px
}

.how .greet:hover .icon3 {
	background-position: -150px -75px
}

.how .page:hover .icon4 {
	background-position: -225px -75px
}

#html-content-holder {
	background-image: url(../images/default.jpg);
	width: 360px;
	height: 640px;
	position: relative;
	margin: 0 auto;
	text-transform: capitalize
}

#html-content-holder p {
	margin: 0px
}

.in12340 #html-content-holder {
	background-image: url(../images/wedding/12340.jpg) !important;
	width: 360px;
	height: 640px
}

.in12340 #html-content-holder .cc {
	bottom: 20px;
	left: 20px;
	font-family: ubuntu-regular, sans-serif;
	position: absolute;
	color: #fff;
	font-size: 10px
}

.in12340 #html-content-holder .cc span {
	font-size: 15px
}

.in12341 #html-content-holder {
	background-image: url(../images/wedding/12341.jpg) !important;
	width: 360px;
	height: 640px
}

.in12341 #html-content-holder .cc {
	bottom: 8px;
	right: 0;
	left: 0;
	background-color: #fff;
	border-radius: 5px;
	width: 100px;
	text-align: center;
	margin: 0 auto;
	font-family: ubuntu-regular, sans-serif;
	position: absolute;
	color: #755106;
	font-size: 10px
}

.in12341 #html-content-holder .cc span {
	font-size: 15px
}

.in12341 .txt-in {
	position: relative;
	z-index: 999;
	width: 257px;
	word-wrap: break-word;
	margin: 0 auto
}

.in12341 .n1 {
	position: absolute;
	right: 0;
	left: 0;
	top: 270px;
	text-align: center;
	font-size: 22px;
	color: #000
}

.in12341 .n2 {
	position: absolute;
	right: 0;
	left: 0;
	top: 328px;
	text-align: center;
	font-size: 22px;
	color: #000
}

.in12341 .dt {
	position: absolute;
	right: 0;
	left: 0;
	top: 395px;
	text-align: center;
	font-size: 16px;
	color: #000
}

.in12341 .pl {
	position: absolute;
	right: 0;
	left: 0;
	top: 456px;
	text-align: center;
	font-size: 15px;
	color: #000
}

.in12342 #html-content-holder {
	background-image: url(../images/wedding/12342.jpg) !important;
	width: 360px;
	height: 640px
}

.in12342 #html-content-holder .cc {
	bottom: 8px;
	right: 42px;
	font-family: ubuntu-regular, sans-serif;
	position: absolute;
	color: #d24868;
	font-size: 10px
}

.in12342 #html-content-holder .cc span {
	font-size: 15px
}

.in12342 .txt-in {
	position: relative;
	z-index: 999;
	width: 257px;
	word-wrap: break-word;
	margin: 0 auto
}

.in12342 .n1 {
	position: absolute;
	right: 0;
	left: 0;
	top: 264px;
	text-align: center;
	font-size: 22px;
	color: #fff
}

.in12342 .n2 {
	position: absolute;
	right: 0;
	left: 0;
	top: 350px;
	text-align: center;
	font-size: 22px;
	color: #fff
}

.in12342 .dt {
	position: absolute;
	right: 0;
	left: 0;
	top: 425px;
	text-align: center;
	font-size: 16px;
	color: #fff
}

.in12342 .pl {
	position: absolute;
	right: 0;
	left: 0;
	top: 490px;
	text-align: center;
	font-size: 15px;
	color: #fff
}

.in12343 #html-content-holder {
	background-image: url(../images/wedding/12343.jpg) !important;
	width: 360px;
	height: 640px
}

.in12343 #html-content-holder .cc {
	bottom: 8px;
	right: 42px;
	font-family: ubuntu-regular, sans-serif;
	position: absolute;
	color: #d24868;
	font-size: 10px
}

.in12343 #html-content-holder .cc span {
	font-size: 15px
}

.in12343 .txt-in {
	position: relative;
	z-index: 999;
	width: 257px;
	word-wrap: break-word;
	margin: 0 auto
}

.in12343 .n1 {
	position: absolute;
	right: 0;
	left: 0;
	top: 284px;
	text-align: center;
	font-size: 22px;
	color: #000
}

.in12343 .n2 {
	position: absolute;
	right: 0;
	left: 0;
	top: 364px;
	text-align: center;
	font-size: 22px;
	color: #000
}

.in12343 .dt {
	position: absolute;
	right: 0;
	left: 0;
	top: 425px;
	text-align: center;
	font-size: 16px;
	color: #000
}

.in12343 .pl {
	position: absolute;
	right: 0;
	left: 0;
	top: 490px;
	text-align: center;
	font-size: 15px;
	color: #000
}

/*CARD*/
.in12350 #html-content-holder {
	background-image: url(../images/birthday/12350.png) !important;
	width: 360px;
	height: 640px
}

.in12350 #html-content-holder .bname {
	position: absolute;
	right: 0;
	left: 0;
	top: 312px;
	text-align: center;
	font-size: 30px;
	color: #1c2757
}

.in12350 #html-content-holder .cc {
	bottom: 8px;
	right: 42px;
	font-family: ubuntu-regular, sans-serif;
	position: absolute;
	color: #d24868;
	font-size: 10px
}

.in12350 #html-content-holder .cc span {
	font-size: 15px
}
/*CARD*/

.in12351 #html-content-holder {
	background-image: url(../images/birthday/12351.png) !important
}

.in12351 #html-content-holder .bname {
	position: absolute;
	right: 0;
	left: 0;
	top: 375px;
	text-align: center;
	font-size: 30px;
	color: #e75289
}

.in12351 #html-content-holder .cc {
	bottom: 8px;
	right: 42px;
	font-family: ubuntu-regular, sans-serif;
	position: absolute;
	color: #d24868;
	font-size: 10px
}

.in12351 #html-content-holder .cc span {
	font-size: 15px
}

.in12352 #html-content-holder {
	background-image: url(../images/birthday/12352.png) !important
}

.in12352 #html-content-holder .bname {
	position: absolute;
	right: 0;
	left: 0;
	top: 346px;
	text-align: center;
	font-size: 30px;
	color: #eacff1
}

.in12352 #html-content-holder .cc {
	bottom: 8px;
	right: 42px;
	font-family: ubuntu-regular, sans-serif;
	position: absolute;
	color: #d24868;
	font-size: 10px
}

.in12352 #html-content-holder .cc span {
	font-size: 15px
}

.in12353 #html-content-holder {
	background-image: url(../images/birthday/12353.png) !important
}

.in12353 #html-content-holder .bname {
	position: absolute;
	right: 0;
	left: 0;
	top: 200px;
	text-align: center;
	font-size: 30px;
	color: #490f03
}

.in12353 #html-content-holder .cc {
	bottom: 8px;
	right: 42px;
	font-family: ubuntu-regular, sans-serif;
	position: absolute;
	color: #d24868;
	font-size: 10px
}

.in12353 #html-content-holder .cc span {
	font-size: 15px
}


/*CARD*/
.in12354 #html-content-holder {
	background-image: url(../images/birthday/12354.png) !important;
	width: 360px;
	height: 640px
}

.in12354 #html-content-holder .bname {
	position: absolute;
    right: 0;
    left: 0;
    top: 324px;
    text-align: center;
    font-size: 30px;
    color: #ce2155;
}

.in12354 #html-content-holder .cc {
	bottom: 8px;
	right: 42px;
	font-family: ubuntu-regular, sans-serif;
	position: absolute;
	color: #d24868;
	font-size: 10px
}

.in12354 #html-content-holder .cc span {
	font-size: 15px
}
/*CARD*/



.red {
	color: #ff0000
}

.text-cnt {
	left: 200px;
	width: 400px;
	position: absolute;
	top: 150px
}

.input-cnt input,
.input-cnt label,
.input-cnt textarea {
	display: block;
	margin: 10px;
	padding: 5px;
	border: none;
	font-size: 22px
}

.input-cnt textarea:focus,
.input-cnt input:focus {
	outline: 0
}

.input-cnt input.question,
.input-cnt textarea.question {
	font-size: 38px;
	font-weight: 300;
	border-radius: 2px;
	margin: 0;
	border: none;
	width: 80%;
	background: transparent;
	transition: padding-top 0.2s ease, margin-top 0.2s ease;
	overflow-x: hidden
}

.input-cnt input.question+label,
.input-cnt textarea.question+label {
	display: block;
	position: relative;
	white-space: nowrap;
	padding: 0;
	margin: 0;
	width: 10%;
	border-top: 1px solid red;
	-webkit-transition: width 0.4s ease;
	transition: width 0.4s ease;
	height: 0px
}

.input-cnt input.question:focus+label,
.input-cnt textarea.question:focus+label {
	width: 80%
}

.input-cnt input.question:focus,
.input-cnt input.question:valid {
	padding-top: 35px
}

.input-cnt textarea.question:valid,
.input-cnt textarea.question:focus {
	margin-top: 35px
}

.input-cnt input.question:focus+label>span,
.input-cnt input.question:valid+label>span {
	top: -100px;
	font-size: 22px;
	color: #333
}

.input-cnt textarea.question:focus+label>span,
.input-cnt textarea.question:valid+label>span {
	top: -150px;
	font-size: 22px;
	color: #333
}

.input-cnt input.question:valid+label,
.input-cnt textarea.question:valid+label {
	border-color: green
}

.input-cnt input.question:invalid,
.input-cnt textarea.question:invalid {
	box-shadow: none
}

.input-cnt input.question+label>span,
.input-cnt textarea.question+label>span {
	font-weight: 300;
	margin: 0;
	position: absolute;
	color: #8F8F8F;
	font-size: 26px;
	top: -66px;
	left: 0px;
	z-index: -1;
	-webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
	transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease
}

.input-cnt input[type="submit"] {
	-webkit-transition: opacity 0.2s ease, background 0.2s ease;
	transition: opacity 0.2s ease, background 0.2s ease;
	display: block;
	opacity: 0;
	margin: 10px 0 0 0;
	padding: 10px;
	cursor: pointer
}

.input-cnt input[type="submit"]:hover {
	background: #EEE
}

.input-cnt input[type="submit"]:active {
	background: #999
}

.input-cnt input.question:valid~input[type="submit"],
.input-cnt textarea.question:valid~input[type="submit"] {
	-webkit-animation: appear 1s forwards;
	animation: appear 1s forwards
}

.input-cnt input.question:invalid~input[type="submit"],
.input-cnt textarea.question:invalid~input[type="submit"] {
	display: none
}

@-webkit-keyframes appear {
	100% {
		opacity: 1
	}
}

@keyframes appear {
	100% {
		opacity: 1
	}
}

.browse-btn,
.cancel {
	background-color: #fff;
	border: 1px solid #ff0000;
	height: 44px;
	width: 100%;
	border-radius: 30px;
	color: #ff0000;
	line-height: 28px;
	margin-bottom: 30px
}

#previewImage {
	font-family: sans-serif;
	width: 360px;
	margin: 0 auto;
	top: 88px;
	position: relative;
	height: 640px
}

#btn-Preview-Image,
.dwn-btn {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #fb304e;
	border: 1px solid #fb304e;
	border-radius: 30px;
	width: 100%;
	height: 44px
}

.dwn-btn {
	margin: 0px
}

.thumb-img img {
	margin: 0 auto
}

#viewModal .modal-footer {
	border: 0px;
	display: block;
	text-align: center
}

.modal-backdrop.show {
	opacity: 0.9
}

.no-radius {
	border-radius: 0px
}

.use {
	padding-top: 60px;
	padding-bottom: 60px
}

.use h4 {
	font-size: 22px;
	color: #848283
}

.use p {
	font-size: 14px;
	margin-bottom: 30px
}

.slick-dots li button:before {
	content: '' !important
}

.slick-dots li button {
	width: 2px;
	height: 2px;
	border-radius: 10px;
	background-color: #787878 !important
}

.slick-dots li.slick-active button {
	width: 30px !important;
	height: 2px;
	border-radius: 30px !important;
	background-color: #fb304e !important
}

.slick-dots li {
	width: auto !important;
	height: auto !important
}

.templates {
	background-color: #f8ebf3;
	padding: 50px 0px;
	position: relative
}

.templates .col-md-4 {
	margin-bottom: 30px
}

.templates h3 {
	color: #a0a0a0;
	text-align: center;
	font-size: 35px
}

.templates h1 {
	color: #a0a0a0;
	text-align: center;
	font-size: 35px
}

.templates ul {
	text-align: center;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 20px !important
}

.templates ul li {
	text-align: center;
	margin: 0px 5px
}

.templates .nav-link {
	color: #000;
	background-color: #cec9cc;
	border-radius: 0px;
	font-size: 14px;
	transition: background-color 0.5s ease
}

.templates .nav-link.active {
	color: #fff;
	background-color: #fb304e
}

.templates .nav-link:hover {
	color: #fff;
	background-color: #fb304e
}

.templates .tab-content .row div {
	margin-bottom: 15px
}

.hovereffect {
	width: auto;
	height: 100%;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default
}

.hovereffect .overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.5);
	-webkit-transition: all .4s ease-in-out;
	transition: all 0.4s ease-in-out
}

.hovereffect img {
	margin: 0 auto;
	display: block;
	position: relative;
	-webkit-transition: all .4s linear;
	transition: all .4s linear
}

.hovereffect h2 {
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	position: relative;
	font-size: 17px;
	background: rgba(0, 0, 0, 0.6);
	-webkit-transform: translatey(-100px);
	-ms-transform: translatey(-100px);
	transform: translatey(-100px);
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	padding: 10px
}

.hovereffect a.info {
	text-decoration: none;
	display: inline-block;
	color: #fff;
	border-radius: 20px;
	background-color: #fb304e;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	font-family: ubuntu-regular, sans-serif;
	padding: 7px 14px;
	position: relative;
	top: 50%;
	font-size: 15px
}

.hovereffect a.info:hover {
	box-shadow: 0 0 5px #fff
}

.hovereffect:hover img {
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2)
}

.hovereffect:hover .overlay {
	opacity: 1;
	filter: alpha(opacity=100)
}

.hovereffect:hover h2,
.hovereffect:hover a.info {
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-transform: translatey(0);
	-webkit-transform: translatey(0);
	transform: translatey(0)
}

.hovereffect:hover a.info {
	-webkit-transition-delay: .2s;
	transition-delay: .2s
}

.top-bar {
	background-color: #fb304e
}

.top-bar p {
	color: #fff;
	padding: 7px 0px;
	margin: 0px;
	font-size: 14px;
	text-align: center
}

.top-bar p a {
	background-color: #ea0b2c;
	border-radius: 16px;
	padding: 6px 10px;
	font-size: 13px;
	border: 1px solid #d40d2a;
	text-decoration: none;
	margin-left: 10px;
	color: #fff
}

.top-bar p a:hover {
	background-color: #ce0c29;
	transition: background-color 0.5s ease
}

.text-wrap {
	position: relative;
	margin-bottom: 50px
}

.text-wrap h4 {
	color: #a2a2a2;
	font-size: 47px
}

.text-wrap h2 {
	font-size: 32px;
	color: #a2a2a2
}

footer {
	background-color: #fb304e;
	padding-top: 10px;
	position: relative
}

footerbefore {
	content: "";
	display: block;
	position: absolute;
	border-radius: 100% 50%;
	width: 300px;
	height: 70px;
	background-color: #e0efe3;
	left: 0;
	top: 27px
}

footer .fly {
	background: url("../images/butterfly.png") center no-repeat;
	width: 300px;
	margin: 0 auto;
	height: 211px;
	display: block;
	top: -134px;
	right: 0;
	left: 0;
	z-index: 99;
	position: absolute
}

.social-media {
	margin-bottom: 20px
}

.social-media .fb,
.social-media .ins,
.social-media .pint,
.social-media .linked {
	padding: 0px;
	min-height: 80px
}

.social-media .fb,
.social-media .linked {
	background-color: #e41c39;
	font-size: 22px
}

.social-media .ins,
.social-media .pint {
	font-size: 34px
}

.social-media a {
	color: #fff;
	text-align: center;
	display: block;
	line-height: 80px
}

.ft-ul li {
	list-style: none;
	display: inline-block;
	margin: 0px 7px
}

.ft-ul li a {
	color: #fff;
	text-decoration: none
}

.credit {
	border-top: 1px solid #e41c39;
	padding-top: 15px;
	color: #ffffff
}

.credit .wrt {
	color: #fff
}

.credit .copy {
	float: left
}

.wrt {
	color: #fff;
	margin: 0
}

.ft-ul {
	float: right
}

.mail {
	font-size: 60px;
	color: #b10821;
	margin: 0px
}

.to {
	color: #b10821;
	font-size: 16px
}

.mobile-panel {
	background-image: url(../images/mobile-temp.svg);
	background-size: cover;
	width: 404px;
	height: 826px;
	margin: 0 auto
}

@media (min-width: 768px) {
	.visible-sm {
		display: none !important
	}
}

@media (max-width: 767px) {
	footer {
		padding-bottom: 30px
	}
	.hovereffect {
		width: 100%
	}
	.hovereffect .info {
		opacity: 1 !important
	}
	.hovereffect .overlay {
		opacity: 1 !important;
		background-color: transparent
	}
	.use {
		padding-top: 10px;
		padding-bottom: 10px
	}
	.search {
		padding-bottom: 20px
	}
	.hidden-sm {
		display: none !important
	}
	.visible-sm {
		display: block !important
	}
	.text-wrap h4 {
		color: #a2a2a2;
		font-size: 47px !important
	}
	.use h4 {
		font-size: 15px
	}
	.use p {
		font-size: 12px
	}
	.how p {
		font-size: 12px
	}
	.navbar .nav-item.active {
		border-bottom: 0px solid #f00;
		background-color: #fb304e;
		color: #fff
	}
	.navbar .nav-item.active .nav-link {
		color: #fff
	}
	.nav-item {
		padding-left: 10px
	}
	.dwn-btn {
		margin-bottom: 20px
	}
	#previewImage {
		font-family: sans-serif;
		width: 100%;
		margin: 0 auto;
		position: unset !important;
		height: unset !important
	}
	.mobile-panel {
		background-image: none;
		background-size: cover;
		width: auto !important;
		height: auto !important;
		margin: 0 auto
	}
	.credit {
		border-top: 0px solid #e41c39;
		padding-top: 0px;
		color: #ffffff
	}
	.top-bar {
		display: none
	}
	.fixed-top {
		position: unset !important
	}
	canvas {
		width: 100% !important
	}
	.search a {
		width: unset !important
	}
	.slick-dots {
		text-align: center !important;
		z-index: 999;
		position: unset !important
	}
	.top-bar p {
		color: #fff;
		padding: 7px 0px;
		line-height: 26px
	}
	.navbar-light .navbar-toggler {
		border: 0px !important
	}
	.navbar-expand-lg>.container,
	.navbar-expand-lg>.container-fluid {
		padding-left: 15px;
		padding-right: 15px
	}
	#btn-Preview-Image {
		margin-top: 20px;
		height: 45px;
		background-color: #fb304e;
		border-radius: 30px;
		width: 100%
	}
	.ft-ul {
		float: none
	}
	.credit {
		text-align: center
	}
	.credit .copy {
		float: none
	}
	.templates ul li {
		text-align: center;
		margin: 5px 5px;
		width: 100%
	}
	#html-content-holder {
		background-size: 100%;
		background-image: url(../images/default.jpg);
		background-repeat: no-repeat;
		position: relative;
		margin: 0 auto;
		text-transform: capitalize
	}
}

.modal-backdrop {
	background-color: #fff !important
}

.modal-content {
	background-color: transparent !important;
	border: 0px
}

.templates img {
	margin: 0 auto
}

.contactus {
	padding-top: 50px
}

.contactus h1 {
	font-size: 22px;
	text-align: center;
	color: #b5b3b3
}

.contactus p {
	text-align: center;
	color: #000
}

.contactus p a {
	color: #fb304e;
	text-decoration: none
}
